/* BEGIN: Gruvbox color definitions */
@define-color rosewater #f2e5bc;
@define-color flamingo  #ea6962;
@define-color pink      #d3869b;
@define-color mauve     #b16286;
@define-color red       #cc241d;
@define-color maroon    #9d0006;
@define-color peach     #fe8019;
@define-color yellow    #d79921;
@define-color green     #98971a;
@define-color teal      #689d6a;
@define-color sky       #458588;
@define-color sapphire  #83a598;
@define-color blue      #83a598;
@define-color lavender  #bdae93;
@define-color text      #ebdbb2;
@define-color subtext1  #d5c4a1;
@define-color subtext0  #bdae93;
@define-color overlay2  #a89984;
@define-color overlay1  #928374;
@define-color overlay0  #7c6f64;
@define-color surface2  #665c54;
@define-color surface1  #504945;
@define-color surface0  #3c3836;
@define-color base      #32302f;
@define-color mantle    #282828;
@define-color crust     #1d2021;
/* END: Gruvbox color definitions */

* {
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left,
.modules-center,
.modules-right,
#cpu,
#memory,
#temperature,
#wireplumber,
#backlight,
#custom-spotify,
#custom-icon,
#custom-updates,
#language,
#network,
#battery,
#battery#bat1,
#tray,
#idle_inhibitor,
#custom-power,
#custom-notification {
  border-radius: 18px;
}

/* ------ Modules Left ------ */
.modules-left {
  background-color: @base;
  padding-right: 5px;
  padding-left: 13px;
}

/* ------ Modules Center ------ */
.modules-center {
  background-color: @base;
  padding-right: 5px;
  padding-left: 5px;
}

/* ------ Modules Right ------ */
.modules-right {
  background-color: @base;
  padding-right: 5px;
  padding-left: 5px;
}

/* ------ Window Title ------ */
#window {
  color: @text;
  padding-right: 4px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0px solid #ffffff;
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces button.empty {
  color: @surface2;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces {
  margin: 0px 1px 0px 1px;
  padding: 0px 1px;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces button {
  padding: 0px 2px;
  margin: 4px 2px;
  color: @yellow;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces button:hover {
  opacity: 0.5;
}

/* ------ Wireplumber ------ */
#wireplumber {
  color: @peach;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Backlight ------ */
#backlight {
  color: @sky;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Language ------ */
#language {
  color: @teal;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Network ------ */
#network {
  color: @sapphire;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Battery ------ */
#battery {
  color: @teal;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}

/* ------ Clock ------ */
#clock {
  padding: 0 10px;
  color: @text;
  font-weight: bold;
  font-size: 13px;
}

#custom-weather {
  padding-right: 5px;
}

/* ------ System Tray ------ */
#tray {
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 18px;
  color: @teal;
  padding-right: 5px;
}

#custom-power {
  color: @teal;
  background-color: @surface1;
  padding: 2px 9px;
  padding-right: 10px;
  margin: 4px 2px;
  font-size: 15px;
}

#custom-notifications {
  color: @yellow;
  background-color: @surface1;
  padding: 2px 9px;
  padding-right: 11px;
  margin: 4px 2px;
  font-size: 15px;
  border-radius: 50px;
}

#idle_inhibitor {
  color: @green;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 5px 2px;
  font-size: 15px;
}

#custom-battery {
  /* border-bottom: 2px solid #bff874; */

  border-radius: 50px;
  color: @teal;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}

#custom-battery.charging {
  border-bottom: 2px solid #00ff96;
}

/* ------ Tooltip ------ */
tooltip {
  background: @base;
  border: 1px solid @blue;
}
